<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yb.listyb">

    <application
        android:name="${applicationName}"
        android:label="ListYB"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- Указываем, что используем Android embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            
        <!-- Deep link: listyb://... -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Базовая схема -->
                <data android:scheme="listyb" />

                <!-- Наиболее часто используемый хост + путь под списки -->
                <data
                    android:scheme="listyb"
                    android:host="app"
                    android:pathPrefix="/list" />

                <!-- (опционально) домашняя -->
                <data
                    android:scheme="listyb"
                    android:host="app"
                    android:path="/home" />
                
                <data
                        android:scheme="listyb"
                        android:host="list"
                        android:pathPrefix="/" />
                    <data
                        android:scheme="listyb"
                        android:host="home" />

            </intent-filter>

            <!-- Точка входа приложения -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

    <!-- При необходимости можно описывать <queries> для внешних интентов -->
    <!--
    <queries>
        <package android:name="com.android.chrome" />
    </queries>
    -->
</manifest>