<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yb.listyb">

    <!-- Разрешения можно добавлять здесь при необходимости -->

    <application
        android:name="${applicationName}"
        android:label="listyb"
        android:icon="@mipmap/ic_launcher">

        <!-- Явное указание v2 embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Это нужно для отображения splash до первого кадра Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Deep links: listyb://home и listyb://list/<id>/... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- listyb://home -->
                <data
                    android:scheme="listyb"
                    android:host="home" />
                <!-- listyb://list/<id> и вложенные пути -->
                <data
                    android:scheme="listyb"
                    android:host="list"
                    android:pathPattern="/.*" />
            </intent-filter>

            <!-- Точка входа приложения -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>