name: Android CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
      - name: Flutter pub get
        run: flutter pub get
      - name: Analyze
        run: flutter analyze
      - name: Test
        run: flutter test --no-pub
      - name: Build APK (release)
        run: flutter build apk --release
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: listyb-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
``