
name: Flutter CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      # Включим build_runner позже, когда добавим генераторы:
      # - name: Build runner
      #   run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Build debug APK (smoke build)
        run: flutter build apk --debug
